# === OS spew ===
# macOS
.DS_Store
# Windows
Thumbs.db

# === build artifacts ===
dist/
build/
# Java
*.class

# === editor settings ===
.vscode/
.idea/
# Vim swap files
*.swp 

# === secrets ===
.env
*.pem

# === others ===
.venv/
venv/
env/
.env/
__pycache__/
.idea/
.vscode/
.env
.pytest_cache/